<link rel="stylesheet" href="application.css">

<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
 

    <!-- Hamburger menu for mobile -->
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-end" style="margin-top:10px; margin-right: 10px;">

    <%= form_with url: products_index_path, class: "control", method: :get, local: true , data: { turbo: false } do %>
      <%= text_field_tag :query, params[:query], class:"input", placeholder: "Search Product Names", style:"width: 300px; height: 37px" %>

      <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), include_blank: "All Categories", class:"dropdown-content" %>

      <%= select_tag :date_filter, options_for_select([['Recently Added', 'new'], ['Recently Updated', 'update']], params[:date]), include_blank: "Select Date", class:"dropdown-content" %>
      
      <%= button_tag "Filter" , class:"button is-primary" , style:"height: 37px; margin-right:5px;color: white"%>
    <% end %>
    
    <a class="button is-primary is-medium" style="height: 37px; display: flex; align-items: center; justify-content: center; color: white;" href="/product" >Clear Filter</a>
  </div>
</nav>


