<h2>Your Cart</h2>

<form>
    <% if @cart_items.empty? %>
    <p>Your cart is empty.</p>
    <% else %>
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <% @cart_items.each_with_index do |item, index| %>
                <% if item[:product] %>
                    <tr>
                        <td><%= link_to item[:product].name, product_path(item[:product].id) %> </td>
                        <td><input type="number" value="<%= item[:quantity] %>" style="width:67px" min="1" max="<%=item[:product].stock_quantity%>"></td>
                        <td>$<%= item[:product].price %></td>
                        <td>
                        <%= button_to "Delete", remove_path(index: index), method: :delete, data: { confirm: "Are you sure?" } %>
                        </td>
                    </tr>
                <% end %>
            <% end %>

        </table>

        <div style="display: flex; flex-direction: column; align-items: flex-end; margin:50px; margin-right:175px">
            <p>Total: $<%= @cart_items.sum { |item| item[:product].price * item[:quantity] } %></p>
            
            <%= link_to "Checkout", invoice_path, class: "button is-primary", style:"width: 130px;height: 37px; display: flex; align-items: center; justify-content: center; color: white;"%>
        </div>
    <% end %>

</form>