

<div style=" padding:50px; height:93vh; max-height: 93vh;"><h2><%=link_to "Your Cart", cart_path%></h2>
    <% if @cart_items.empty? %>
      <p>Your cart is empty.</p>
    <% else %>
      <table>
        <tr>
            <th class="title is-3" style="color: #1c4ecdff;">Product</th>
            <th class="title is-3" style="color: #1c4ecdff;">Quantity</th>
            <th class="title is-3" style="color: #1c4ecdff;">Unit Price</th>
            <th class="title is-3" style="color: #1c4ecdff;">Price</th>
        </tr>
        
    <% @cart_items.each_with_index do |item, index| %>
            <% if item[:product] %>
                <tr>
                    <td class="cart-row"><%= item[:product].name %> </td>
                    <td class="cart-row"><input class="cart-qty" data-index="<%= index %>" type="number" value="<%= item[:quantity] %>" style="width:67px" min="1"></td>
                    <td  class="cart-row">$<%= item[:price] %></td>
                    <td  class="cart-row">$<%= item[:price]*item[:quantity] %></td>
                    <td  class="cart-row" style="width: 10px;">
                    <%= button_to "Delete", remove_path(index: index), method: :delete, data: { confirm: "Are you sure?" } %>
                    </td>
                </tr>
            <% end %>
        <% end %>

      </table>
      <% subtotal = @cart_items.sum { |item| item[:product].price * item[:quantity] }%>

      <% pst = subtotal * BigDecimal(session[:province_pst].to_s) %>
      <% gst = subtotal * BigDecimal(session[:province_gst].to_s) %>
      <% hst = subtotal * BigDecimal(session[:province_hst].to_s) %>
      <% grandtotal = subtotal + gst + pst + hst%>
      <% session[:cart_total] = grandtotal%>

      <%= form_with url: update_province_path, method: :get, local: true do %>
        <%= select_tag :province_id,
          options_from_collection_for_select(
            Province.all, :id, :name, session[:province_id]
          ),
          id: "provinces", onchange: "this.form.submit();" %>
      <% end %>

                    
        <%= button_to "Refresh Cart", cart_path, method: :get %>

      <div style="display:flex; flex-direction:column; align-items:flex-end; margin-right:230px">
        <p  class="title is-5" style="color: #1c4ecdff;">SubTotal: <%=subtotal%></p>
        <br>
        <p style="color: #1c4ecdff;margin-right:8px">PST <%=BigDecimal(session[:province_pst].to_s)*100%>% <%=pst%></p>
        <p   style="color: #1c4ecdff;margin-right:8px">GST <%=BigDecimal(session[:province_gst].to_s)*100%>% <%=gst%></p>
        <p   style="color: #1c4ecdff;margin-right:8px">HST <%=BigDecimal(session[:province_hst].to_s)*100%>% <%=hst%></p>
        <br>
        <p  class="title is-5" style="color: #1c4ecdff; margin-right:8px">
          Grand Total: $<%= grandtotal %>
        </p>
        <%= button_to "Proceed", invoice_path, method: :get %>
      </div>
    <% end %>
</div>
