

<div style=" padding:50px; height:93vh; max-height: 93vh;"><h2>Your Cart</h2>
    <% if @cart_items.empty? %>
      <p>Your cart is empty.</p>
    <% else %>
      <table>
        <tr>
            <th class="title is-3" style="color: #1c4ecdff;">Product</th>
            <th class="title is-3" style="color: #1c4ecdff;">Quantity</th>
            <th class="title is-3" style="color: #1c4ecdff;">Unit Price</th>
            <th class="title is-3" style="color: #1c4ecdff;">Price</th>
        </tr>
    <% @cart_items.each_with_index do |item, index| %>
            <% if item[:product] %>
                <tr>
                    <td class="cart-row"><%= item[:product].name %> </td>
                    <td class="cart-row"><input class="cart-qty" data-index="<%= index %>" type="number" value="<%= item[:quantity] %>" style="width:67px" min="1" max="<%=item[:product].stock_quantity%>"></td>
                    <td  class="cart-row">$<%= item[:product].price %></td>
                    <td  class="cart-row">$<%= item[:product].price * item[:quantity] %></td>
                    <td  class="cart-row" style="width: 10px;">
                    <%= button_to "Delete", remove_path(index: index), method: :delete, data: { confirm: "Are you sure?" } %>
                    </td>
                </tr>
            <% end %>
        <% end %>

      </table>
      
        <%= button_to "Refresh Cart", cart_path, method: :get %>
      <div style="display:flex; flex-direction:column; align-items:flex-end; margin-right:230px">
        <p style="margin-right:60px">
          Total: $<%= @cart_items.sum { |item| item[:product].price * item[:quantity] } %>
        </p>
        <%= button_to "Proceed", invoice_path, method: :get %>
      </div>
    <% end %>
</div>
