<div style="height: 93.55vh; ">


    <h1 class="title is-1" style="color: #1c4ecdff;">Log In</h1>
    <div style="display:flex; justify-content:center; align-items:center;">
        <div style="width:800px;border: 7px solid #122e74ff; border-radius:10px; padding:10px; display:flex; justify-content:center; align-items:center; ">
            <%= form_with url: login_check_path, local: true do |f| %>
            <% if flash[:alert] %>
            <p class="alert" style="color: red;"><%= flash[:alert] %></p>
            <% end %>
            <table>
                
                    <div class="actions">
                        <tr>
                            <td><%= f.label :Email %></td>
                            <td><%= f.email_field :email %></td>
                        </tr>
                    </div>

                <div class="actions">
                    
                        <tr>
                            <td><%=f.label :Password %></td>
                            <td><%= f.password_field :password %></td>
                        </tr>
                </div>

                <div class="actions">
                    <tr><td><%= f.submit "Log In" %></td></tr>
                </div>
            </table>
            <% end %>
        </div>
    </div>
</div>