<div style="height: 93.55vh">
    <h1 class="title is-1" style="color: #1c4ecdff;">Register</h1>
    <div style="display:flex; justify-content:center; align-items:center;">

        <div style="width:800px;border: 7px solid #122e74ff; border-radius:10px; padding:10px; display:flex; justify-content:center; align-items:center; ">
            
            <form action=<%=create_customer_path%> method="post">
                <!-- Rails authenticity token (required unless you disabled CSRF protection) -->
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

                <p style="color:red"><%= flash[:alert] %></p>

<table>
        <tr>
            <td><label for="customer_first_name">First name</label></td>
            <td><input type="text" id="customer_first_name" name="customer[first_name]" style="width:225px"></td>
        </tr>

        <tr>
            <td><label for="customer_last_name">Last name</label></td>
            <td><input type="text" id="customer_last_name" name="customer[last_name]" style="width:225px"></td>
        </tr>

        <tr>
            <td><label for="customer_email">Email</label></td>
            <td><input type="email" id="customer_email" name="customer[email]" style="width:225px"></td>
        </tr>

        <tr>
            <td><label for="customer_password">Password</label></td>
            <td><input type="password" id="customer_password" name="customer[password]" style="width:225px"></td>
        </tr>

        <tr>
            <td><label for="customer_address">Address</label></td>
            <td><input type="text" id="customer_address" name="customer[address]" style="width:225px"></td>
        </tr>

        <tr>
            <td><label for="customer_province_id">Province</label></td>
            <td>
                <select id="customer_province_id" name="customer[province_id]">
                    <option value="">Select a province</option>
                    <% Province.all.each do |province| %>
                        <option value="<%= province.id %>"><%= province.name %></option>
                    <% end %>
                </select>
                        </td>
                    </tr>

                    <tr>
                        <td><input type="submit" value="Register"></td>
                    </tr>

                </table>
            </form>
        </div>
    </div>
</div>